---
page_title: "CloudConnexa Provider"
description: |-
  The CloudConnexa provider provides resources to interact with the CloudConnexa API.
---

# CloudConnexa Provider

The CloudConnexa provider provides resources to interact with the [CloudConnexa API](https://openvpn.net/cloud-vpn/).

## Example Usage

```hcl
terraform {
  required_providers {
    cloudconnexa = {
      source = "OpenVPN/cloudconnexa"
    }
  }
}

provider "cloudconnexa" {
  base_url      = "https://example.api.openvpn.com"
  client_id     = var.cloudconnexa_client_id
  client_secret = var.cloudconnexa_client_secret
}
```

## Authentication

The provider needs to be configured with proper credentials before it can be used.

### Environment Variables

You can provide your credentials via the `CLOUDCONNEXA_CLIENT_ID` and `CLOUDCONNEXA_CLIENT_SECRET` environment variables.

```hcl
provider "cloudconnexa" {
  base_url = "https://example.api.openvpn.com"
}
```

Usage:
```sh
export CLOUDCONNEXA_CLIENT_ID="your-client-id"
export CLOUDCONNEXA_CLIENT_SECRET="your-client-secret"
terraform plan
```

### Provider Configuration

You can provide your credentials via the `client_id` and `client_secret` arguments in the provider block.

```hcl
provider "cloudconnexa" {
  base_url      = "https://example.api.openvpn.com"
  client_id     = "your-client-id"
  client_secret = "your-client-secret"
}
```

{{ .SchemaMarkdown | trimspace }}
