---
page_title: "{{ .ProviderShortName }} Provider"
subcategory: ""
description: |-
  The CloudConnexa provider provides resources to interact with the CloudConnexa API.
---

# {{ .ProviderShortName }} Provider

Use this provider to interact with the [CloudConnexa API](https://openvpn.net/cloud-docs/developer/index.html).
The provider needs to be configured with the proper credentials before it can be used.

## Credentials

To authenticate with the CloudConnexa API, you'll need the client_id and client_secret.
These credentials can be found in the CloudConnexa Portal.
Go to the Settings page and click on the API tab.
From there, you can enable the API and generate new authentication credentials.
Additionally, you'll find Swagger documentation for the API in the same location.

More documentation on the CloudConnexa API credentials can be found here:
[Creating API credentials](https://openvpn.net/cloud-docs/developer/creating-api-credentials.html)

!> **Warning:** Hard-coded credentials are not recommended in any Terraform
configuration and risks secret leakage should this file ever be committed to a
public version control system.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
